<!DOCTYPE html>
<html>
  <head>
    <title>Speakikani</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>
    <%= yield %>

    <aside class="help">
      <p>Noticed an error? <%= link_to "Tweet at me", "https://twitter.com/eddm", target: "_blank" %></p>
      <p>Most sentences are from the <%= link_to "Tanaka Corpus", "http://tatoeba.org/eng/", target: "_blank" %></p>
    </aside>

    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
